<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Список товаров:</h1>
    <ol>
        <li><p><a href="snickers_abibas.html">Кроссовки abibas</a></li>
        <li><p><a href="jacket.html">Куртка кожаная</a></li>
        <li><p><a href="coca-cola.html">Coca-cola 1 литр</a></li>
        <li><p><a href="french_fries.html">Картофель фри</a></li>
        <li><p><a href="cap.html">Кепка</a></li>
    </ol>
</body>
</html>